@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    background-color: #EFAB4A;
    width:350px;
    margin-left:auto;
    margin-right:auto;
}
#logo{
    width:350px;
    padding-bottom:0;
    padding-top:25px;
    /*Margin-left:280px;
    Margin-right:auto;*/
}
.form{
    width:300px;
    margin-left:auto;
    margin-right:auto;
    
}
.form-group{
    font-size:34px;
    font-family:'Oswald', sans-serif;
    color:#F5D77D;
    text-align:left;
    margin-top:15px;
    
    
}
h4{
    font-size:45px;
    font-family:'Oswald', sans-serif;
    color:#E01093;
    
}
.link{
    margin-left:auto;
    margin-right:auto;
    width:350px;
    padding-top:20px;
    
}
a{
    color:#E01093;
    font-size:20px;
    font-family: 'Oswald', sans-serif;
}
.form-control{
    width:135px;
    font-size:18px;
    height:35px;
    color:#F5D77D;
    border-color: #F5D77D;
    padding-left: 5px;
    background-color:#EFAB4A;
    margin-left:5px;
}
.radio{
    width:30px;
    height:25px;
    
}
.submit{
    width:200px;
    height:60px;
    margin-top:25px;
    background-color:#39CFA9;
    color:#E01093;
    font-size:26px;
    font-family:'Oswald', sans-serif;
    padding-bottom:5px;

    
}
.submit1{
    width:150px;
    height:60px;
    margin-top:25px;
    background-color:#39CFA9;
    color:#E01093;
    font-size:20px;
    font-family:'Oswald', sans-serif;
    padding-bottom:5px;
    display:inline-block;
    
}
.alert-info{
    background-color:#EF266A;
    color:white;
}

